

//custom variables
$indigo :                          #627DC7;
$cream-brulee:                     #FFE59E;

// bootstrap variable overrides
$font-family-base: Roboto, "Helvetica Neue", Arial, sans-serif;
$font-weight-base: 300;
$white:    #fff;
$navbar-dark-color:                 $white;
$navbar-dark-active-color:          $white;
$navbar-dark-toggler-border-color:  rgba($white,.3);
$carousel-indicator-width:          10px;
$carousel-indicator-height:         10px;
$carousel-indicator-spacer:         10px;
$carousel-indicator-active-bg:      $indigo;
$carousel-control-width:            auto;
$gray-200:                          #E7E7F1;
$body-bg:                           #F5F5F5;
$card-border-color:                 transparent;
$card-inner-border-radius:          0;
$card-bg:                           transparent;
$card-spacer-x:                     1.25rem 0;
$h5-font-size:                      1rem;
$teal:                              #CDE3BC;
$input-btn-padding-x:               2.5rem;
$input-btn-padding-x-lg:            3.5rem;
$green:                             #3BC243;
$gray-input:                        #F5F5F5;
$h1-font-size:                      1rem * 2.2;
$primary:                           $indigo;
$link-hover-decoration:             none;



  // Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";