.bg-cream-brulee{
  background-color: $cream-brulee;
}
.bg-teal{
  background-color: $teal;
}
.form-control{
  padding:.375rem .75rem
}
.btn{
  border-radius: 5rem;
}
.letter-spacing{
  letter-spacing: .1rem;
}