.bg-cream-brulee{
  background-color: $cream-brulee;
}
.bg-teal{
  background-color: $teal;
}
.form-control{
  padding:.375rem .75rem
}
.btn{
  border-radius: 5rem;
}
.letter-spacing{
  letter-spacing: .1rem;
}
.card-text{
  small{
    font-size: .8rem;
    &.big-small{
      font-size: 1rem;
    }
  }
  i{
    margin-left: 15px;
    margin-right: 5px;
  }
}
img {
  max-width: 100%;
  flex-shrink: 0;
}