.hot-cards{
  .media{
    border-radius: 2px;
    background-color: $gray-200;
    box-shadow: 0 1px 1px 0 rgba($black,.3);
    padding: 1rem;
    margin-bottom: 20px;
    b{
      margin-right: 10px;
    }
  }
}

